@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Shippori+Antique&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
   
}

h1 {
   
  color: rgb(190, 190, 50);
  font-size: 45px;
}

p {
    font-size: 19px;
}

#particles-js {
    height: 100%;
    position: fixed;
    
}


/*Divide page into 2*/
.column {
    float: left;
    width: 50%;
    padding: 5em;
    
}

/*Background*/

body {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Pildid/1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
      
}


/*Header*/


  